In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import maup
from zipfile import ZipFile
import numpy as np
import os
import shutil

# Hawaii - test data load

In [3]:
pwd

'/Users/lilyfalk/sandbox/pdv-hi'

**Notes:**
- (https://elections.hawaii.gov/election-results/) linked in documentation, however url for each year changes, but webpage only displays 2020 data..?
    - link to precinct results in csv format but not a file, just brings to txt webpage, so copy paste all into txt file to read in...
- (http://geoportal.hawaii.gov/datasets/election-precincts-) 2017 shapefile downloaded from HI Statewide GIS program

In [9]:
shp = gpd.read_file('./Election_Precincts_/Election_Precincts_.shp')

In [10]:
shp.head()

,objectid,dp,dpnum,dptype,county,zeropop,ballottype,us_house,state_hous,state_sena,county_cou,st_areasha,st_perimet,geometry
0,1,07-03,703,PP,HAWAII,None,CD2-H07-S04-CC9,CD2,H7,S4,CC9,3.433163e+08,100748.260922,"POLYGON ((-155.78978 20.24791, -155.78975 20.2..."
1,2,01-05,105,PP,HAWAII,None,CD2-H01-S04-CC1,CD2,H1,S4,CC1,1.434849e+08,75515.354158,"POLYGON ((-155.11901 19.88276, -155.11887 19.8..."
2,3,01-01,101,PP,HAWAII,None,CD2-H01-S04-CC1,CD2,H1,S4,CC1,3.771898e+08,141411.346571,"POLYGON ((-155.69903 20.18606, -155.69865 20.1..."
3,4,01-02,102,PP,HAWAII,None,CD2-H01-S04-CC1,CD2,H1,S4,CC1,2.207124e+08,69022.641881,"POLYGON ((-155.40968 20.07713, -155.40942 20.0..."
4,5,01-06,106,PP,HAWAII,None,CD2-H01-S04-CC1,CD2,H1,S4,CC1,1.087545e+08,72825.893157,"POLYGON ((-155.13126 19.82529, -155.13104 19.8..."

In [11]:
shp['dp'].nunique()

262

In [12]:
df['Precinct_Name'].nunique()

249

In [13]:
set(shp['dp']) - set(df['Precinct_Name'])

{'01-10',
 '01-11',
 '04-05',
 '05-09',
 '05-10',
 '05-11',
 '07-06',
 '07-07',
 '31-06',
 '35-07',
 '37-05',
 '39-05',
 '45-06'}

In [14]:
set(df['Precinct_Name']) - set(shp['dp'])

set()

In [6]:
df = pd.read_csv('./hi_2018_election_results.txt', delimiter = ',')

In [7]:
df.head()

,Precinct_Name,Split_Name,precinct_splitId,Reg_voters,Ballots,Reporting,Contest_id,Contest_title,Contest_party,Choice_id,Candidate_name,Choice_party,Candidate_Type,Absentee_votes,Early_votes,Election_Votes
0,01-01,NaN,1,2912,1472,1,1,U.S. Senator,NaN,1,"(R) CURTIS, Ron",NaN,C,142,24,153
1,01-01,NaN,1,2912,1472,1,1,U.S. Senator,NaN,2,"(D) HIRONO, Mazie K.",NaN,C,541,86,500
2,01-01,NaN,1,2912,1472,1,3,"U.S. Representative, Dist II",NaN,8,"(D) GABBARD, Tulsi",NaN,C,574,89,548
3,01-01,NaN,1,2912,1472,1,3,"U.S. Representative, Dist II",NaN,9,"(R) EVANS, Brian",NaN,C,98,18,101
4,01-01,NaN,1,2912,1472,1,4,Governor and Lieutenant Governor,NaN,10,(G) BREWER / ING,NaN,C,14,2,19

In [8]:
df['Contest_title'].value_counts()

At-Large Trustee                    1494
Governor and Lieutenant Governor     996
U.S. Representative, Dist I          575
Maui Resident Trustee                498
Oahu Resident Trustee                498
                                    ...
State Representative, Dist 20          8
State Representative, Dist 46          8
State Representative, Dist 47          8
State Representative, Dist 36          6
State Representative, Dist 22          6
Name: Contest_title, Length: 63, dtype: int64